<div><div class="error-box container-fluid bg-theme d-flex align-items-center justify-content-center text-center">
    <div class="top">
      <h1 style="color: rgb(216, 36, 36); font-size: 100px">OOPs......</h1>
      <img width="400px" src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
    </div>
    <h1 class="p-a text-danger"> FOUND ERROR...... </h1>
  </div>
  </div>